<!-- include header -->
<%-include('include/_header.ejs') %>
<!-- include header end -->

<!-- main -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="tex-dark">Update user</h2>
      <span class="text-light">use the below form to update a new user account</span>
    </div>
    <!-- form handling -->
    <form id="update_user" method="post">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%=user._id%>" />
          <input
            type="text"
            name="name"
            value="<%=user.name%>"
            placeholder="muhammad ali"
          />
        </div>
        <div class="form-group">
          <label for="email" class="text-light">Email</label> 
          <input
            type="text"
            name="email"
            value="<%=user.email%>"
            placeholder="marka122@gmail.com"
          />
        </div>
        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>
          <div class="radio inline">
            <input type="radio" name="gender" value="Male" <%=user.gender == 'Male'?'checked':''%>/>
            <label for="gender" class="gender">Male</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="gender" value="Female" <%=user.gender == 'Female'?'checked':''%>/>
            <label for="gender" class="gender">Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" name="status" value="Active"<%=user.status == 'Active'?'checked':''%>/>
            <label for="status" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="status" value="Inactive" <%=user.status == 'Inactive'?'checked':''%>/>
            <label for="status" class="radio-label">Inactive</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!-- main end -->

<!-- include footer -->
<%-include('include/_footer.ejs') %>
<!-- include footer end -->
